 InfoPanel
 { 
       	 container Panel(InfoPanelCenter) 
         { 
                
                 left 0
                 top 0
                 width 0.2 
                 height 0.2


                 element TextArea(InfoPanelTitle) 
                 { 
                         metrics_mode pixels 
                         left 5 
                         top 5 
                         font_name BlueHighway
                         char_height 30
                         caption NXOGRE SCENE DEMO
                 } 

		 element TextArea(InfoPanelFps) 
                 { 
                         metrics_mode pixels 
                         left 5 
                         top 30 
                         font_name BlueHighway
                         char_height 15
                         caption Current FPS:
                 } 
		
		 element TextArea(InfoPanelNTriangles) 
                 { 
                         metrics_mode pixels 
                         left 5 
                         top 55 
                         font_name BlueHighway
                         char_height 15
                         caption Triangle count:
                 } 

		 element TextArea(InfoPanelDebug) 
                 { 
                         metrics_mode pixels 
                         left 5 
                         top 55 
                         font_name BlueHighway
                         char_height 15
                         caption Press H to show Debug graphics
                 } 
	} 
  } 
