// Ogre overlay scripts
OUAN/PauseOverlay
{
	zorder 650
	// Stats block
	container Panel(OUAN/Pause/Background)
	{
		left 0
		top 0
		width 1
		height 1
		material OUAN/Pause/Background
		
		container Panel(OUAN/Pause/TextBox)
		{
			left 0.30
			top 0.35
			width 0.40
			height 0.30
			material OUAN/Pause/TextBox			
		}
		element TextArea(OUAN/Pause/Text)
		{
			top 0.45
			left 0.40
			font_name FunnyPages
			char_height 0.1
			caption PAUSE
			colour_top 0.6 0.6 0.2
			colour_bottom 0.6 0.6 0.2
		}		
	
	}
}
