// Ogre overlay scripts
OUAN/GameOverOverlay
{
	zorder 650
	// Stats block
	container Panel(OUAN/GameOver/Background)
	{
		left 0
		top 0
		width 1
		height 1
		material OUAN/GameOver/Background

			element TextArea(OUAN/GameOver/Gratz)
			{
				top 0.4
				left 0.23
				font_name FunnyPages
				char_height 0.1
				caption CONGRATULATIONS!
				colour_top 0.6 0.6 0.2
				colour_bottom 0.6 0.6 0.2
			}					
			element TextArea(OUAN/GameOver/GameOver)
			{
				top 0.4
				left 0.3
				font_name FunnyPages
				char_height 0.1
				caption GAME OVER
				colour_top 0.6 0.6 0.2
				colour_bottom 0.6 0.6 0.2
			}
			element TextArea(OUAN/GameOver/InfoText)
			{
				top 0.5
				left 0.1
				font_name FunnyPages
				char_height 0.04
				caption Press pause to return to menu, Jump to restart the level
				colour_top 0.6 0.6 0.2
				colour_bottom 0.6 0.6 0.2
			}			
	}
}
